# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Node (just in case)
node_modules/

# Secrets
*.pem
*.key
*.crt
*.p12
*.pfx

# hello

